@use '../02-tools/px-to-rem' as *;
@use '../03-tokens/spacings' as *;

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card__image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%; 
    overflow: hidden;
    border-radius: var(--radius-8);
    margin-bottom: pxToRem(14px);
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 pxToRem(4px);
}

.card__title {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-400);
    margin-bottom: $spacing-8;
}

.card__tags {
    display: flex;
    gap: $spacing-8;
    margin-bottom: $spacing-16;
}

.card__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: $spacing-16;
}

.card__price {
    font-size: pxToRem(15px);
    color: var(--color-text-dark);
    display: flex;
    align-items: center;
    gap: $spacing-4;
}

.card__price--promo {
    color: var(--color-accent);
    font-weight: var(--font-weight-700);
}

.card__tax {
    font-weight: normal;
    font-size: var(--font-size-14);
    color: var(--color-text-muted);
}

.card__link {
    font-size: var(--font-size-14);
    color: var(--color-link);
    text-decoration: underline;
}

.card__button {
    width: 100%;
    padding: pxToRem(14px);
    background-color: var(--color-bg-dark);
    color: var(--color-text-btn);
    border-radius: var(--radius-4);
    border: none;
}

.card__button:hover {
    background-color: var(--color-hover);
}