@use '../02-tools/px-to-rem' as *;

.tag {
    background-color: var(--color-bg-light);
    padding: pxToRem(4px) pxToRem(10px);
    font-size: var(--font-size-14);
    color: var(--color-text-muted);
    border-radius: var(--radius-4);
    font-weight: 500;
}