@mixin colors {
    --color-bg-main: #ffffff;
    --color-bg-dark: #1a1a1a;
    --color-bg-light: #f5f5f5;
    --color-text-dark: #000000;
    --color-text-muted: #666666;
    --color-accent: #b71c1c;
    --color-border: #cccccc;
    --color-border-dark: #000000;
    --color-hover: #333333;
    --color-link: #0000ee;
    --color-border-card: #eaeaea;
    --color-text-btn: #ffffff;
    --color-icon: #1a1a1a;
    --color-border-accent: #4a617c;
}