@use '../02-tools/px-to-rem' as *;

:root {
    --spacing-4: pxToRem(4px); //spacing xs
    --spacing-8: pxToRem(8px); //spacing sm
    --spacing-16: pxToRem(16px); //spacing md
    --spacing-24: pxToRem(24px); //spacing lg
    --spacing-32: pxToRem(32px); //spacing xl
}